.logo{
    padding-left: 10px;
    text-align: center;
    background-color:#001b34 ;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 10px;
    img{
        width: 50px;
        float: left;
    }
    h1{
        color:#fff;
        font-size: 13px;
        margin-top: 15px;
        margin-left:-30px;
    }
}