.container{ //页面整体
    .nav-left{  //页面左
        width: 15%;
        background-color:#001529;
        height:calc(100vh);
    }
    .main{ //页面右
        height: calc(100vh);
     background-color: #f1f3f5;
     overflow:auto;
    }
    .content{//页面内容
        position: relative;
        padding: 20px;
    }
}
.content-wrap{
    background: #ffffff;
    border: 1px solid #e8e8e8;
     margin-top: -3px;
}