.Wraper{
    width: 100%;
    padding: 0 19.5px;
    .detail-items{
        margin-left:90px;
        padding:25px 50px 25px 0;
        border-bottom:1px solid #e5e5e5;
        &:last-child{
          border-bottom:none;
        }
        .item-title{
          margin:20px 0;
          font-size: 20px;
          color:#bebebe;
        }
        .detail-form{
       
          li{
            margin: 0 0;
            padding:0 0;
            list-style: none;
            margin-bottom: 10px;
            // .clearfix;
            // margin:20px 0;
            // line-height:20px;
            // font-size:15px;
            // color:#6699cc;
          }
        }
        .detail-form-left{
          float:left;
          text-align:right;
          color:#999;
        
        }
        .detail-form-content{
          padding-left:100px;
        }
    }
    .order-map{
      height: 450px;
      margin: 25px -24px 0;
    }
}